<div class="container">
  <form #otpForm="ngForm" (ngSubmit)="generateOtp()">
    <div class="input-container">
      <input
        type="text"
        placeholder="Username"
        name="username"
        [(ngModel)]="username"
        class="input-field"
        required
        #usernameField="ngModel"
      />
      <button type="submit" class="btn" [disabled]="!otpForm.valid">Generate OTP</button>
    </div>
    <div *ngIf="usernameField.invalid && usernameField.touched" class="error-message">
      Username is required.
    </div>
  </form>

  <div class="otp-container">
    <p>OTP: {{ otp }}</p>
    <p>Expires in: {{ countdown }} seconds</p>

    <div class="validate-container">
      <input
        type="text"
        placeholder="Enter OTP"
        [(ngModel)]="enteredOtp"
        class="input-field"
      />
      <button (click)="validateOtp()" class="btn">Validate OTP</button>
    </div>

    <p *ngIf="validationMessage !== undefined" class="validation-message">
      {{ validationMessage }}
    </p>
  </div>
</div>
