.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.otp-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #f1f9ff;
  text-align: center;
}

.otp-container p {
  margin: 5px 0;
  font-size: 18px;
}

.validate-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.validation-message {
  margin-top: 10px;
  font-size: 16px;
  color: red;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}
